.nav-bar {
    height: 64px;
    line-height: 64px;
    padding: 0 16px;

    .title {
        font-size: 20px;
        font-weight: 500;
    }

    .username {
        font-size: 14px;
        text-align: right;
        font-weight: 500;
        padding-right: 16px;
    }
}