.background {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.login-card {
    margin: auto;
    position: relative;
    top: 25vh;
    width: 50vw;
    height: 480px;
    max-width: 560px;
    background: rgba(255,255,255,0.91);
    border-radius: 2px;

    .image-container {
        img {
            width: 100%;
        }
    }

    .form {
        text-align: center;
        position: relative;
        top: 16px;

        .field {
            mat-form-field {
                width: calc(100% - 96px);
            }
        }

        button {
            position: relative;
            top: 16px;
            width: calc(100% - 128px);
        }

        .error {
            position: relative;
            top: 24px;
            color: red;
        }
    }
}