@import '../../../app-theme.scss';

.mat-table {

    .mat-column-priority{
        flex: 0 0 15%;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    
    .mat-column-status {
        flex: 0 0 20%;

        @media screen and (max-width: 480px) {
            display: none;
        }
    }
    .mat-column-action {
        flex: 0 0 40px;
        text-align: right;
    }
}

.table-footer {
    height: 48px;
}

.no-tickets {
    padding: 0 24px 24px 24px;
    color: rgba(0,0,0,0.54);
}