<div class="page-container">
    <div class="card">
        <div class="title" style="padding: 24px 0 0 24px;">
            My Tickets
        </div>
        <div *ngIf="tickets && tickets.length">
            <mat-table #table [dataSource]="tickets">
                <ng-container matColumnDef="subject">
                    <mat-header-cell *matHeaderCellDef>Subject</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.subject}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="updated">
                    <mat-header-cell *matHeaderCellDef>Last Updated</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.lastUpdated | date:'short'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.priority}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button
                            (click)="viewTicket(element._id)"
                            color="accent"
                            matTooltip="View & Edit Ticket"
                            matTooltipPosition="before"
                            matTooltipShowDelay="100">
                            <mat-icon>edit</mat-icon>
                        </button>                    
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="table-footer">

            </div>
        </div>
        <div *ngIf="tickets && !tickets.length" class="no-tickets">
            You have no tickets. You can create a new ticket by click on the button at the bottom-right corner of the window.
        </div>
    </div>
</div>

<div class="fab-container">
    <button mat-fab matTooltip="Create Ticket" color="primary">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>