<div fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z2 nav-bar">
    <div fxFlex="72px">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex class="title">
        TECHIT &mdash; {{title}}
    </div>
    <div fxFlex="64px" style="text-align: right;">
        <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</div>
<mat-drawer-container class="example-container" style="height: calc(100vh - 64px);">
    <mat-drawer #drawer mode="side" class="mat-elevation-z4">
        <div class="user-info">
            <img class="avatar" src="/assets/avatar_placeholder.png" />
            <div class="name">{{currentUserName}}</div>
            <div class="email">{{currentUserEmail}}</div>
        </div>
        <div *ngFor="let link of routerLinks" class="router-link" [routerLink]="link.path" routerLinkActive="active">
            <div class="old-style background"></div>
            <div class="icon-container">
                <mat-icon>{{link.icon || 'gesture'}}</mat-icon>
            </div>
            <div class="title">{{link.title}}</div>
        </div>
        <div class="router-link" (click)="logout()">
            <div class="old-style background"></div>
            <div class="icon-container">
                <mat-icon>exit_to_app</mat-icon>
            </div>
            <div class="title">Logout</div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

